= form_for(@task, html: {class: 'form-horizontal'}) do |f|
  - if @task.errors.any?
    #error_explanation
      %h2
        = pluralize(@task.errors.count, "error")
        prohibited this task from being saved:
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message
  =f.hidden_field :postpone_date, value: @task.postpone_date || DateTime.now
  .form-group.required
    = f.label 'Titre', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, class: 'form-control', required: 'required'
  .form-group
    = f.label 'Description', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, class: 'form-control'
  .form-group
    = f.label 'Tags', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :task_tags, placeholder: "Tags séparé par une virgule", class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Valider', class: 'btn btn-success'
